@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --blue : #2C8FFF;
    --white : #ffffff;
    --half-white : rgba(255, 255, 255,0.7);
    
}


@layer base {
    /* Set global styles */
    * {
      @apply text-[#ffffff]; /* Remove margin, padding, and use box-sizing: border-box */
    }
}

.reg-loading{
  height: 30px;
  width: 30px;
  border: 3px solid white;
  /* backdrop-filter: ; */
}
.clz_Nav{
  display: none;
  height: 0;
  /* animation:  clzNav .3s ease; */

}
.show_Nav{
  display: flex;
  /* animation:  showNav .3s ease; */
  -webkit-animation: scale-up-ver-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}


.lds-facebook,
.lds-facebook div {
  box-sizing: border-box;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
  /* background: #000; */
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 3px;
  background: currentColor;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}




.default-image-nav{
  /* height: 100px; */
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.completed-circle{
  background:var(--white);
  animation: completed 2s linear;
}

@keyframes completed{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}



/* Edit Proile Section Profile.jsx  */

.edit-profile-blur-body{

  min-height: 100vh;
  height: auto;
  width: 100%;
  position: fixed ;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  /* background: #000; */
display: flex;
justify-content: center;
align-items: center;
}

.edit-profile-form{
  animation:  opne-edit-form .3s linear;
}



@keyframes opne-edit-form{
  0%{
    position: fixed; 
    top: -200%;
  }
  100%{
    position: relative;
    top: inherit;
  }
}


/* emial-password-edit-div Prfoile.jsx */
.emial-password-edit-div{

  -webkit-animation: scale-in-ver-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-top 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}

 @-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

/* .verify-passwrod-popup-div Profile.jsx */


.verify-passwrod-popup-div{
animation: verifyPassword-Popup .2s linear;  
/* display: none; */
}

@keyframes verifyPassword-Popup{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);

  }
}


/* Collection */
.animated-expand {
  animation: expand .3s ease-in-out forwards;
}


.collap-input-loading  {
  animation:  collap-input-loading  3s linear  infinite;
}

@keyframes collap-input-loading  {
  0%{
width:  100%;   
  }
  100%{
    width:  0%;
  }
  
}


@keyframes expand {

  from {

    width: 0%;
  }
  to {
    width: 100%;
  }
}



.show-collection-edit-name{
animation: show-collection-edit-name .1s linear ;
}

@keyframes  show-collection-edit-name {

  0%{

    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);


  }
  
}


.select-all-permision-popup {
  animation: select-all-permision-popup .1s linear;
}

@keyframes select-all-permision-popup {

  0%{
    transform:  scale(0);
  }
  100%{
    transform: scale(1);
  }
}